.header {
  display: flex;
  justify-content: space-around;
  .main {
    #dropdown {
      border: 1px solid #afb0b9;
      border-radius: 0.3rem;
      padding: 0.5rem 1rem;
      width: 10rem;
    }
  }

  #main_img {
    width: 40vw;
  }
}
